@tailwind base;
@tailwind components;
@tailwind utilities;

.title-home::before {
  position: absolute;
  top: 33px;
  height: 60px;
  left: -10px;
  right: -35px;
  background-color: #0C766E;
  content: "";
  z-index: -1;
}
.swiper-button-next {
  color: #0C766E !important;
}
.swiper-pagination-bullet-active {
  background: #0C766E !important;
}
.swiper-button-next.swiper-button-disabled {
  color: #0C766E  !important;
}
.swiper-button-prev.swiper-button-disabled {
  color: #0C766E !important;
}
.swiper-button-prev {
  color: #0C766E !important;
}
.header-home{
  height: 250px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  display: none;
}
@media (min-width: 640px) {
  .header-home {
    height: 450px;
  }
}